.carousel {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 100%;
}

.carousel-inner.transition {
  transition: transform 1s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* 这里设定每张幻灯片的高度为视窗口高度，可根据需求调整 */
}
